@using SCGP.Models.MasterData.RoleManagementModel
@model Role
@{
    ViewData["Title"] = "Edit Role";
}

<div class="content">
    <form>
        <div class="grid grid-cols-11 gap-x-6 mt-5 pb-20">
            <div class="intro-y col-span-11 2xl:col-span-9">

                <div class="intro-y box p-5 mt-5">
                    <div class="border border-slate-200/60 rounded-md p-5">
                        <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Role</div>
                        <div class="mt-5">
                            <input type="text" class="form-control" value="@Model.Name" asp-for="@Model.Name">
                        </div>
                    </div>
                </div>

                <div id="AssignPC" class="intro-y box p-5 mt-5">
                    <div class="border border-slate-200/60 rounded-md p-5">
                        <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Assign PC </div>
                        <div class="mt-5">

                            <div class="form-check mr-2">
                                <input id="checkall" class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label" for="checkall">Check All</label>
                            </div>

                            <!-- <div class="grid grid-cols-5 gap-3 mt-5"> -->
                            <fieldset class="flex flex-col gap-3 mt-5">
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ListAuthorize" asp-for="@Model.AssignPC.MasterData.ListAuthorize">
                                <legend class="px-2">Master Data</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <!-- <div>Authorize</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ViewDetailAuthorize" asp-for="@Model.AssignPC.MasterData.ViewDetailAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.CreateAuthorize" asp-for="@Model.AssignPC.MasterData.CreateAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.EditAuthorize" asp-for="@Model.AssignPC.MasterData.EditAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.DeleteAuthorize" asp-for="@Model.AssignPC.MasterData.DeleteAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ListServer" asp-for="@Model.AssignPC.MasterData.ListServer">
                                    <!-- <div>Server</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ViewDetailServer" asp-for="@Model.AssignPC.MasterData.ViewDetailServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.CreateServer" asp-for="@Model.AssignPC.MasterData.CreateServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.EditServer" asp-for="@Model.AssignPC.MasterData.EditServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.DeleteServer" asp-for="@Model.AssignPC.MasterData.DeleteServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ListPlant" asp-for="@Model.AssignPC.MasterData.ListPlant">
                                    <!-- <div>Plant</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ViewDetailPlant" asp-for="@Model.AssignPC.MasterData.ViewDetailPlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.CreatePlant" asp-for="@Model.AssignPC.MasterData.CreatePlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Plant</p>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.EditPlant" asp-for="@Model.AssignPC.MasterData.EditPlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.DeletePlant" asp-for="@Model.AssignPC.MasterData.DeletePlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ListStorage" asp-for="@Model.AssignPC.MasterData.ListStorage">
                                    <!-- <div>Storage</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ViewDetailStorage" asp-for="@Model.AssignPC.MasterData.ViewDetailStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.CreateStorage" asp-for="@Model.AssignPC.MasterData.CreateStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.EditStorage" asp-for="@Model.AssignPC.MasterData.EditStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.DeleteStorage" asp-for="@Model.AssignPC.MasterData.DeleteStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Storage</p>
                                        </div>
                                    </div>

                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ListProblems" asp-for="@Model.AssignPC.MasterData.ListProblems">
                                    <!-- <div>List Problems</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Problems</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.ViewDetailProblems" asp-for="@Model.AssignPC.MasterData.ViewDetailProblems">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Problems</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.CreateListProblems" asp-for="@Model.AssignPC.MasterData.CreateListProblems">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create List Problems</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.EditListProblems" asp-for="@Model.AssignPC.MasterData.EditListProblems">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit List Problems</p>
                                        </div>
                                    </div>
                                        <p>Delete List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.MasterData.DeleteListProblems" asp-for="@Model.AssignPC.MasterData.DeleteListProblems">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete List Problems</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">Goods Receipt</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 101</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType101" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType101">
                                        </div>
                                    </div>
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 102</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType102" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType102">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">Goods Transfer</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 301</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType301" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType301">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 302</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType302" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType302">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 309</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType309" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType309">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 310</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType310" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType310">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 311</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType311" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType311">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 312</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType312" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType312">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 321</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType321" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType321">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 322</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType322" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType322">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 343</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType343" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType343">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 344</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType344" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType344">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type Z15</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementTypeZ15" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementTypeZ15">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 202</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsTransfer.MovementType202" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType202">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="flex flex-col gap-3 mt-5">
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsIssue.LoadDPNo" asp-for="@Model.AssignPC.GoodsIssue.LoadDPNo">
                                <legend class="px-2">Goods Issue</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Load DP No.</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsIssue.DisplayDPNo" asp-for="@Model.AssignPC.GoodsIssue.DisplayDPNo">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Display DP No.</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsIssue.ScanDPComplete" asp-for="@Model.AssignPC.GoodsIssue.ScanDPComplete">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Scan DP Complete</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsIssue.SendToSapComplete" asp-for="@Model.AssignPC.GoodsIssue.SendToSapComplete">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Send To Sap Complete</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsIssue.SendToSapError" asp-for="@Model.AssignPC.GoodsIssue.SendToSapError">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Send To Sap Error</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.GoodsIssue.ViewWeightByDP" asp-for="@Model.AssignPC.GoodsIssue.ViewWeightByDP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Weight by DP</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="flex flex-col gap-3 mt-5">
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.DPRewind.LoadRewindNo" asp-for="@Model.AssignPC.DPRewind.LoadRewindNo">
                                <legend class="px-2">DP Rewind</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Load Rewind No</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.DPRewind.CreateRewindNo" asp-for="@Model.AssignPC.DPRewind.CreateRewindNo">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Rewind No</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.DPRewind.ViewDPDetail" asp-for="@Model.AssignPC.DPRewind.ViewDPDetail">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View DP Detail</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.DPRewind.PrintDP" asp-for="@Model.AssignPC.DPRewind.PrintDP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Print DP</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.DPRewind.ReceiptDPRewind" asp-for="@Model.AssignPC.DPRewind.ReceiptDPRewind">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Receipt DP Rewind</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.DPRewind.DPRewindReport" asp-for="@Model.AssignPC.DPRewind.DPRewindReport">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>DP Rewind Report</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.DPRewind.DPRewindReceive" asp-for="@Model.AssignPC.DPRewind.DPRewindReceive">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>DP Rewind Receive</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="flex flex-col gap-3 mt-5">
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.LoadingEfficientcy" asp-for="@Model.AssignPC.Report.LoadingEfficientcy">
                                <legend class="px-2">Report</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Loading Efficientcy</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.ImportStockSAP" asp-for="@Model.AssignPC.Report.ImportStockSAP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Import Stock SAP</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.InputStockCount" asp-for="@Model.AssignPC.Report.InputStockCount">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Input Stock Count</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.ReportStockSAP" asp-for="@Model.AssignPC.Report.ReportStockSAP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Stock SAP</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.ReportStock" asp-for="@Model.AssignPC.Report.ReportStock">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Stock</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.ReportGoodsReceipt" asp-for="@Model.AssignPC.Report.ReportGoodsReceipt">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Goods Receipt</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.ReportGoodsIssue" asp-for="@Model.AssignPC.Report.ReportGoodsIssue">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Goods Issue</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPC.Report.ReportGoodsTransfer" asp-for="@Model.AssignPC.Report.ReportGoodsTransfer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Goods Transfer</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

                <div id="AssignPDA" class="intro-y box p-5 mt-5">
                    <div class="border border-slate-200/60 rounded-md p-5">
                        <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Assign PDA </div>
                        <div class="mt-5">

                            <div class="form-check mr-2">
                                <input id="checkall" class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label" for="checkall">Check All</label>
                            </div>

                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ListAuthorize" asp-for="@Model.AssignPDA.MasterData.ListAuthorize">
                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">Master Data</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <!-- <div>Authorize</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ViewDetailAuthorize" asp-for="@Model.AssignPDA.MasterData.ViewDetailAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.CreateAuthorize" asp-for="@Model.AssignPDA.MasterData.CreateAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.EditAuthorize" asp-for="@Model.AssignPDA.MasterData.EditAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.DeleteAuthorize" asp-for="@Model.AssignPDA.MasterData.DeleteAuthorize">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Authorize</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ListServer" asp-for="@Model.AssignPDA.MasterData.ListServer">
                                    <!-- <div>Server</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ViewDetailServer" asp-for="@Model.AssignPDA.MasterData.ViewDetailServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.CreateServer" asp-for="@Model.AssignPDA.MasterData.CreateServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.EditServer" asp-for="@Model.AssignPDA.MasterData.EditServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.DeleteServer" asp-for="@Model.AssignPDA.MasterData.DeleteServer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Server</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ListPlant" asp-for="@Model.AssignPDA.MasterData.ListPlant">
                                    <!-- <div>Plant</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ViewDetailPlant" asp-for="@Model.AssignPDA.MasterData.ViewDetailPlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.CreatePlant" asp-for="@Model.AssignPDA.MasterData.CreatePlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.EditPlant" asp-for="@Model.AssignPDA.MasterData.EditPlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.DeletePlant" asp-for="@Model.AssignPDA.MasterData.DeletePlant">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Plant</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ListStorage" asp-for="@Model.AssignPDA.MasterData.ListStorage">
                                    <!-- <div>Storage</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ViewDetailStorage" asp-for="@Model.AssignPDA.MasterData.ViewDetailStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.CreateStorage" asp-for="@Model.AssignPDA.MasterData.CreateStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.EditStorage" asp-for="@Model.AssignPDA.MasterData.EditStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit Storage</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.DeleteStorage" asp-for="@Model.AssignPDA.MasterData.DeleteStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete Storage</p>
                                        </div>
                                    </div>

                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ListProblems" asp-for="@Model.AssignPDA.MasterData.ListProblems">
                                    <!-- <div>List Problems</div> -->
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>List Problems</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.ViewDetailProblems" asp-for="@Model.AssignPDA.MasterData.ViewDetailProblems">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Detail Problems</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.CreateListProblems" asp-for="@Model.AssignPDA.MasterData.CreateListProblems">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create List Problems</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.EditListProblems" asp-for="@Model.AssignPDA.MasterData.EditListProblems">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Edit List Problems</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.MasterData.EditStorage" asp-for="@Model.AssignPDA.MasterData.EditStorage">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Delete List Problems</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">Goods Receipt</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 101</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType101" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType101">
                                        </div>
                                    </div>
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 102</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType102" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType102">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">Goods Transfer</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 301</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType301" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType301">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 302</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType302" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType302">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 309</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType309" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType309">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 310</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType310" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType310">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 311</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType311" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType311">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 312</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType312" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType312">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 321</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType321" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType321">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 322</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType322" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType322">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 343</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType343" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType343">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 344</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType344" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType344">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type Z15</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementTypeZ15" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementTypeZ15">
                                        </div>
                                    </div>

                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Movement Type 202</p>
                                            <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsTransfer.MovementType202" 
                                            asp-for="@Model.AssignPC.GoodsTransfer.MovementType202">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsIssue.LoadDPNo" asp-for="@Model.AssignPDA.GoodsIssue.LoadDPNo">
                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">Goods Issue</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Load DP No.</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsIssue.DisplayDPNo" asp-for="@Model.AssignPDA.GoodsIssue.DisplayDPNo">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Display DP No.</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsIssue.ScanDPComplete" asp-for="@Model.AssignPDA.GoodsIssue.ScanDPComplete">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Scan DP Complete</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsIssue.SendToSapComplete" asp-for="@Model.AssignPDA.GoodsIssue.SendToSapComplete">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Send To Sap Complete</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsIssue.SendToSapError" asp-for="@Model.AssignPDA.GoodsIssue.SendToSapError">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Send To Sap Error</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.GoodsIssue.ViewWeightByDP" asp-for="@Model.AssignPDA.GoodsIssue.ViewWeightByDP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View Weight by DP</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.DPRewind.LoadRewindNo" asp-for="@Model.AssignPDA.DPRewind.LoadRewindNo">
                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">DP Rewind</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Load Rewind No</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.DPRewind.CreateRewindNo" asp-for="@Model.AssignPDA.DPRewind.CreateRewindNo">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Create Rewind No</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.DPRewind.ViewDPDetail" asp-for="@Model.AssignPDA.DPRewind.ViewDPDetail">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>View DP Detail</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.DPRewind.PrintDP" asp-for="@Model.AssignPDA.DPRewind.PrintDP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Print DP</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.DPRewind.ReceiptDPRewind" asp-for="@Model.AssignPDA.DPRewind.ReceiptDPRewind">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Receipt DP Rewind</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.DPRewind.DPRewindReport" asp-for="@Model.AssignPDA.DPRewind.DPRewindReport">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>DP Rewind Report</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.DPRewind.DPRewindReceive" asp-for="@Model.AssignPDA.DPRewind.DPRewindReceive">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>DP Rewind Receive</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.LoadingEfficientcy" asp-for="@Model.AssignPDA.Report.LoadingEfficientcy">
                            <fieldset class="flex flex-col gap-3 mt-5">
                                <legend class="px-2">Report</legend>
                                <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Loading Efficientcy</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.ImportStockSAP" asp-for="@Model.AssignPDA.Report.ImportStockSAP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Import Stock SAP</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.InputStockCount" asp-for="@Model.AssignPDA.Report.InputStockCount">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Input Stock Count</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.ReportStockSAP" asp-for="@Model.AssignPDA.Report.ReportStockSAP">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Stock SAP</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.ReportStock" asp-for="@Model.AssignPDA.Report.ReportStock">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Stock</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.ReportGoodsReceipt" asp-for="@Model.AssignPDA.Report.ReportGoodsReceipt">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Goods Receipt</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.ReportGoodsIssue" asp-for="@Model.AssignPDA.Report.ReportGoodsIssue">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Goods Issue</p>
                                        </div>
                                    </div>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="@Model.AssignPDA.Report.ReportGoodsTransfer" asp-for="@Model.AssignPDA.Report.ReportGoodsTransfer">
                                    <div class="border w-full p-3 rounded-lg zoom-in">
                                        <div class="form-check">
                                            <p>Report Goods Transfer</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="flex justify-end flex-col md:flex-row gap-2 mt-5">
                    <a href="@Url.Action("Index")" class="btn py-3 border-slate-300 dark:border-darkmode-400 text-slate-500 w-full md:w-52">Cancel</a>
                    <button type="submit" asp-action="EditRole" class="btn py-3 btn-primary w-full md:w-52">Save</button>
                </div>
            </div>
        </div>
	</form>
</div>

<script src="~/js/role-script.js"></script>